/*Untuk Form Card*/
  .form {
  width: 1170px;
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 50px;
  }
  
  .form h1 {
    margin-bottom: 20px;
    color: #10B9D6;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-group button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-group button:hover {
    background-color: #45a049;
  }
  
  /*Untuk Field*/
  .form-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  float: left;
  }
  
  .form-container-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  
  .form-container-2a {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
  }
  
  .form-container-2b {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
  }
  
  .form-container-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  
  
  .form-section label {
    margin-bottom: 10px;
  }
  
  .form-section input,
  .form-section textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .form-section textarea {
    resize: vertical;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .form-section select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-section select {
    resize: vertical;
  }
  
  .button {
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-section button:hover {
    background-color: #45a049;
  }
  
  /*Untuk Form Detail*/
  .form-detail {
    width: 1170px;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 50px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
  }
  
  .product-flow-detail{
    margin-top: -300px;
    color: #007bff;
  }
  
  .product-image {
    width: 500px;
    height: 700px;
    height: auto;
    margin-right: 20px;
    margin-left: -180px;
    border-radius: 10px;
    margin-top: 50px;
  }
  
  .product-details {
    flex: 3;
  }
  
  .product-title-detail {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 28px;
    margin-top: 50px;
    margin-left: 20px;
  }
  
  .product-category-detail{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
    margin-top: 5px;
    margin-left: 20px;
    color: lightgray;
  }
  
  .product-price-1-detail{
    font-size: 16px;
    color: #000;
    margin-bottom: 10px;
    margin-left: 20px;
    text-decoration: line-through #000;
    font-weight: 600;
  }
  
  .product-price-2-detail{
    font-weight: bold;
    font-size: 22px;
    color: red;
    margin-bottom: 10px;
    margin-left: 20px;
  }
  
  .product-description-detail {
    margin-bottom: 10px;
    margin-left: 20px;
  }
  
  .product-stock-detail{
    font-size: 14px;
    color: #007bff;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 20px;
  }
  
  