/*Untuk Body*/
body{
    background-color: #F3F4F6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/*Untuk Navbar*/
* {
    margin:0; 
    padding:0;
}

nav {
    background-color: #FFFFFF;
    height: 80px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.10);
  }
  
  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
  }
  
  .navbar-logo img {
    height: 50px;
    width: 50px;
  }
  
  .navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-menu li {
    margin: 0 10px;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .navbar-menu a {
    text-decoration: none;
    font-weight: 500;
    color: #10B9D6;

  }
  
  .navbar-button {
    display: flex;
    justify-content: flex-end;
  }
  
  .btn-login {
    background-color: #fff;
    margin-right: 10px;
    color: #10B9D6;
    width: 80px;
    height: 30px;
    text-align: center;
    outline: none;
    padding: 8px 12px;
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .my-button {
    outline-color: red;
  }
  

  .btn-register {
    background-color: #10B9D6;
    margin-right: 10px;
    color: #FFFFFF;
    border: none;
    padding: 8px 12px;
    width: 80px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
 
/*Untuk Banner*/
.banner-card {
    position: relative;
    margin-bottom: 20px;
  }
  
  .banner-card img {
    display: block;
    width: 1100px;
    height: 400px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
  }
  
  .card-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 20px;
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  
  .banner-card:hover .card-overlay {
    opacity: 1;
  }
  
  .card-overlay h3 {
    margin-top: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .btn {
    background-color: #fff;
    border: none;
    border-radius: 10px;
    color: #10B9D6;
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .btn:hover {
    background-color: #007bff;
    color: #fff;
  }

/*Untuk Category*/
.category{
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
  color: #10B9D6;
}

.category-product{
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
  color: #10B9D6;
  margin-top: 30px;
}
  .button-2{
    display: grid;
    justify-content: end;
    margin-top: -50px;
    margin-right: 100px;

  }

  .category-btn {
    background-color: #10B9D6;
    border: none;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

/*Untuk Card*/
.cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: 80px;
    margin-bottom: 100px;
}
  .product-card {
    width: 260px;
    border: 1px solid #ccc;
    margin-top: 100px;
    margin-left: 20px;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.10);
  }
  
  .product-img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .product-title {
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  
  .product-price-1 {
    font-size: 12px;
    color: #000;
    margin-bottom: 10px;
    margin-left: 20px;
    text-decoration: line-through #000;
    font-weight: 600;
  }

  .product-price-2 {
    font-size: 18px;
    color: red;
    margin-bottom: 10px;
    margin-left: 20px;
  }

  .product-stock {
    font-size: 14px;
    color: #007bff;
    font-weight: 700;
    margin-bottom: 10px;
    margin-left: 20px;
  }

/*Untuk Form Card*/
.form {
  width: 1170px;
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 50px;
}

  .form h1 {
    margin-bottom: 20px;
    color: #10B9D6;
  }

  .form-group {
    margin-bottom: 10px;
  }

  .form-group label {
    display: block;
    font-weight: bold;
  }

  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .form-group button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .form-group button:hover {
    background-color: #45a049;
  }

/*Untuk Field*/
.form-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  float: left;
}

  .form-container-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .form-container-2a {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
  }

  .form-container-2b {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
  }

  .form-container-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  
  .form-section label {
    margin-bottom: 10px;
  }
  
  .form-section input,
  .form-section textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .form-section textarea {
    resize: vertical;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .form-section select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-section select {
    resize: vertical;
  }
  
  .button {
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-section button:hover {
    background-color: #45a049;
  }

/*Untuk Form Detail*/
  .form-detail {
    width: 1170px;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 50px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
  }

  .product-flow-detail{
    margin-top: -300px;
    color: #007bff;
  }

  .product-image {
    width: 500px;
    height: 700px;
    height: auto;
    margin-right: 20px;
    margin-left: -180px;
    border-radius: 10px;
    margin-top: 50px;
  }

  .product-details {
    flex: 3;
  }

  .product-title-detail {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 28px;
    margin-top: 50px;
    margin-left: 20px;
  }

  .product-category-detail{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
    margin-top: 5px;
    margin-left: 20px;
    color: lightgray;
  }

  .product-price-1-detail{
    font-size: 16px;
    color: #000;
    margin-bottom: 10px;
    margin-left: 20px;
    text-decoration: line-through #000;
    font-weight: 600;
  }

  .product-price-2-detail{
    font-weight: bold;
    font-size: 22px;
    color: red;
    margin-bottom: 10px;
    margin-left: 20px;
  }

  .product-description-detail {
    margin-bottom: 10px;
    margin-left: 20px;
  }

  .product-stock-detail{
    font-size: 14px;
    color: #007bff;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 20px;
  }

  